/* I sort the selectors based on "General", "home", "page 1", "page 2", etc. Specifically, the selectors are ordered based on the element's appearance on the page. */

/* General */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  position: relative;
  min-height: 100vh;
  padding-bottom: 16px;
}

main {
  margin: 0 auto;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  padding: 4px 20px;
  border-radius: 20px;
  border: 2px solid #333;
  background-color: #fff;
  font-weight: 600;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  background-color: #bef8fa;
  border: 2px solid #bef3fa;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgb(252, 203, 203),
    rgb(242, 230, 185)
  );
}

.email {
  text-decoration: none;
  color: #222;
}

/* For index.html (HOME) */

.text-box {
  line-height: 24px;
  margin: 40px;
}

.text-box h1 {
  color: rgb(17, 87, 87);
  margin-bottom: 24px;
  font-size: 36px;
}

.important-text {
  font-family: "Handlee";
  font-size: 20px;
  margin: 36px;
  font-weight: 600;
  line-height: 32px;
}

#self-img-box {
  margin-bottom: 120px;
}

#self-img {
  width: 36%;
  border-radius: 2%;
}

/* For page1.html (PHOTOS) */

.disney,
.universal {
  margin: 0 20px;
}

.universal {
  padding-bottom: 120px;
}

.disney h2,
.universal h2 {
  margin: 40px 20px 8px 20px;
  color: rgb(17, 87, 87);
  font-size: 24px;
}

.disney-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.disney-img img {
  width: 100%;
}

.universal-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.universal-img img {
  width: 100%;
}

/* For page2.html (COMPARISON TABLE) */

.tables {
  margin: 0 auto;
  width: 920px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 80px;
}

#table-disney,
#table-universal {
  background-color: #faffe7;
}

#table-disney-heading,
#table-universal-heading {
  color: rgb(17, 87, 87);
  font-size: 24px;
}

table,
th,
td {
  border: 1px solid rgb(68, 135, 160);
}

th,
td {
  padding: 8px;
}

thead .rides th {
  text-transform: uppercase;
}

/* For page3.html (SURVEY FORM) */

form {
  line-height: 32px;
  margin-top: 20px;
}

fieldset {
  width: 880px;
  border: 2px solid #bebebe;
  border-radius: 10px;
  padding: 20px;
  background-color: #fbfff1;
  margin: 0 auto;
}

legend {
  font-size: 24px;
  color: rgb(17, 87, 87);
  font-weight: 600;
  background-color: rgb(213, 231, 224);
  padding: 10px 20px;
  border-radius: 10px;
}

input,
select {
  border-radius: 5px;
  padding: 4px;
  margin: 2px;
}

.ratings {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.rating-title {
  font-size: 20px;
  color: rgb(17, 87, 87);
  font-weight: 600;
}

textarea {
  width: 50%;
  height: 120px;
  padding: 12px 20px;
  border-radius: 10px;
  border: 2px solid #bebebe;
  background-color: rgb(247, 247, 247);
}

input#submit {
  padding: 12px;
  border-radius: 18px;
  transition: all 0.3s;
  font-weight: 600;
  font-size: 18px;
  margin: 20px 0 120px 0;
}

input#submit:hover {
  background-color: rgb(213, 231, 224);
}

/* For page4.html (LOCATION MAPS) */

.maps {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.disney-info h2,
.universal-info h2 {
  margin: 40px 20px 8px 20px;
  color: rgb(17, 87, 87);
  font-size: 24px;
}

.disney-info,.universal-info{
  line-height: 32px;
}

iframe{
  margin: 20px 0 120px 0;
}